In [1]:
#Import Dependencies
import pandas as pd
import os

In [2]:
# Import file
filepath = os.path.join("Resources", "purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
heroes_of_pymoli = pd.read_csv(filepath)
heroes_of_pymoli.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [8]:
#Calculating the total number of players
player_count = len(heroes_of_pymoli["SN"].unique())
total_players = pd.DataFrame({"Total Players" : [player_count]})
total_players

   Total Players
0            576

In [20]:
#Purchasing Analysis Total
#Calculating the number of unique items
unique_items = len(heroes_of_pymoli["Item ID"].unique())
#unique_items

#Calculating Average Price
average_price = heroes_of_pymoli["Price"].mean()
#average_price

#Calculating number of purchases
number_of_purchases = heroes_of_pymoli["Purchase ID"].count()
#number_of_purchases

#Calculating Total Revenue
total_revenue = heroes_of_pymoli["Price"].sum()
#total_revenue

#Creating DataFrame for the above calculations
purchasing_analysis = pd.DataFrame({"Number of Unique Items" : [unique_items],
                                    "Average Price" : [average_price],
                                    "Number of Purchases" : [number_of_purchases],
                                    "Total Revenue" : [total_revenue]})
#purchasing_analysis

#Formatting the DataFrame using the Map Function
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:,.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:,.2f}".format)

purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [41]:
#Gender Demographics

#Remove Duplicates to get the exact number of SN in the data
new_df = heroes_of_pymoli[["SN", "Gender", "Age"]]
remove_duplicates = new_df.drop_duplicates(subset=["SN"])
#remove_duplicates.count

#Percentage and Count of Male, Female and Other/Non-Disclosed
#Value count of Gender to get the rows- value count returns a series containing counts of unique values
total_count = remove_duplicates["Gender"].value_counts()
#print(gender_df)
percentage_of_gender_count = (total_count/ player_count)*100
#print(percentage_of_gender_count)

gender_demographics = pd.DataFrame({"Total Count" :total_count,
                                    "Percentage of Players" :percentage_of_gender_count})
#gender_demographics

#Formatting the DataFrame using the map function
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:,.2f}%".format)
gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [53]:
#Purchasing Analysis(Gender)
gender_group = heroes_of_pymoli.groupby(["Gender"])

#Purchase Count
gender_purchase_count = gender_group["SN"].count()
#gender_purchase_count

#Average Purchase Price
gender_average_purchase = gender_group["Price"].mean()
#gender_average_purchase

#Total Purchase Value
gender_total_value = gender_group["Price"].sum()
#gender_total_value

#Average Total Purchase Price Per Person
average_purchase_price = gender_total_value/total_count
#average_purchase_price

#Creating a DataFrame for the above calculations
purchasing_analysis = pd.DataFrame({"Purchase Count" : gender_purchase_count,
                                    "Average Purchase Price" : gender_average_purchase,
                                    "Total Purchase Value" : gender_total_value,
                                    "Avg Total Purchase per Person" : average_purchase_price})
#purchasing_analysis

#Formatting the DataFrame using the map function
purchasing_analysis["Average Purchase Price"] = purchasing_analysis["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis["Total Purchase Value"] = purchasing_analysis["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis["Avg Total Purchase per Person"] = purchasing_analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [ ]:
#top_spenders_df = pd.DataFrame(top_spenders_df.sort_values(by= "Total Purchase Value", ascending= False))